mat-progress-spinner {
   width: 35px !important;
   height: 35px !important;
}

.form-control{
   border-color: #2123A9;
   border-width: 2px;
}
.close-icon{
position: absolute;
right: 10px;
top: 7px;
cursor: pointer;
}
.search-icon{
   position: absolute;
   right: 35px;
   top: 8px;
   cursor: pointer;
}