/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-dialog-class{
  width: 400px;
}
.btn:active{
  border: none;
}
.caret{
  font-size: 40px;
  height: 30px !important;
  width: 40px !important;
  display: flex !important;
    align-items: center;
}