<div *ngIf="newsItem">
   <div class="card news-card mb-3 p-3" (click)="openModal()">
      <div class="row g-0">
         <div class="col-md-4 text-md-center">
            <img
               class="img-fluid logo-img rounded"
               src="{{ newsItem.image }}"
            />
         </div>
         <div class="col-md-8">
            <div class="card-body text-center">
               <p >{{ newsItem.headline }}</p>
             </div>
         </div>
      </div>
   </div>
</div>
<div *ngIf="!newsItem">
   <p>No news data available.</p>
</div>
